.c {
    display: grid;
    gap: 1rem;
    row-gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
}
@keyframes item {
    0% {
        opacity: 0;
        scale: 1.1;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
.item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    transition: all 125ms var(--curve-1);
    animation: item forwards 125ms var(--curve-1);
    text-overflow: clip;
    cursor: pointer;
    max-width: 10rem;
}
.item:hover {
    text-decoration: underline;
}
.item p {
    margin-top: 0.125rem;
    max-width: 100%;
    word-break: break-all;
    height: 2.5em;
    font-size: 0.75em;
    overflow: hidden;
}
.image {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--white-500);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 125ms var(--curve-1);
    animation: item forwards 125ms var(--curve-1);
    text-overflow: clip;
    cursor: pointer;
    aspect-ratio: 1/1;
}
.image p {
    width: 100%;
    height: auto;
    font-size: 0.75rem;
    word-break: break-all;
}
.image img {
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image:hover {
    border-color: var(--white-300);
    box-shadow: 0px 0px 1rem var(--white-300);
    transform: scale(1.025);
}





/* Media Queries */
@media (min-width: 400px) and (max-width: 500px) {
    .c {
        grid-template-columns: repeat(1, 1fr); /* 1 item per row */
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .c {
        grid-template-columns: repeat(3, 1fr); /* 2 items per row */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .c {
        grid-template-columns: repeat(4, 1fr); /* 3 items per row */
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .c {
        grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    }
}
@media (min-width: 901px) and (max-width: 1201px) {
    .c {
        grid-template-columns: repeat(4, 1fr); /* 5 items per row */
    }
}

/* Single Row Layout */
@media (min-width: 1201px) {
    .c {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); /* Single row with items auto-scaled */
    }
}