.c {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.holder {
    position: relative;
}

.delete {
    height: 0px;
    border: 2px dashed var(--red-300);
    border-radius: 0.5rem;
    background: repeating-linear-gradient(45deg, 
        #99000025, #99000025 20px, 
        #ff2c2c27 21px, #ff2c2c27 40px);
    box-shadow: inset 0px 0px 1rem #99000025;
    cursor: move;
    transition: 250ms var(--curve-1) opacity;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red-700);
    font-weight: 700;
    font-size: 1.2rem;
}
.delete.isDragging {
    height: 3rem;
}
.delete.notDragging {
    height: 0rem;
    opacity: 0;
}
.delete.isDragging.hidden {
    opacity: 0.5;
}
.delete.isDragging.visible {
    font-size: 1.25rem;
    opacity: 1;
}
.dragPreview {
    animation: 250ms var(--curve-1) preview infinite;
    z-index: 999;
}
.tween.visible {
    opacity: 1;
    height: 0.25rem;
    margin-block: 0.25rem;
}
.tween.hidden {
    height: 0.75rem;
    margin-block: 0rem;
    opacity: 0;
}
.tween.isDragging {
    z-index: 3;
}
.tween.isDragging::after{
    height: 2rem;
    pointer-events: all;
}
.tween.notDragging::after {
    height: 0px;
    pointer-events: none;
}
.tween::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    translate: 0px -50%;
    pointer-events: none;
    height: 0px;
    width: 100%;
    background-color: var(--secondary-600);
    opacity: 0;
}
.tween {
    position: relative;
    pointer-events: none;
    border-radius: 0.5rem;
    background-color: var(--secondary-600);
    width: 100%;
    z-index: -1;
}
.item {
    transition: 125ms var(--curve-1) all;
    position: relative;
}
.isDragging .item {
    scale: 1;
}
.dragging {
    scale: 0.95;
    opacity: 0.1 !important;
}
.draggingOver {
    scale: 1 !important;
    opacity: 0.75;
    outline: 2px solid var(--secondary-600);
}

@keyframes preview {
    0% {
        rotate: 6deg;
    }
    50% {
        rotate: -6deg;
    }
    100% {
        rotate: 6deg;
    }
}