.nav {
    display: flex;
    gap: 2rem;
    background: linear-gradient(-90deg, var(--secondary-25), var(--secondary-100));
}
.nav .logo {
    color: var(--white-900);
    display: flex;
    font-size: 3rem !important;
    align-items: center;
    gap: 16px;
    background-color: var(--secondary-100);
    padding: 8px 16px;
}
.nav .logo img {
    animation: logoRotate 50s linear infinite;
}
.nav h3 {
    font-size: 2rem;
}
.nav .links {
    font-size: 20px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav .links a:hover {
    color: var(--primary-500);
}
.active {
    color: var(--primary-500);
}
.inactive {
    color: var(--white-900);
}

@media only screen and (max-width: 700px) {

    .nav h3 {
        display: none;
    }

}

@keyframes logoRotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}