.c {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    height: fit-content;
}
.img {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
    pointer-events: none;
}
.alt {
    color: var(--white-50);
    font-size: .9rem;
    margin-bottom: .25rem;
}
.credit {
    text-transform: uppercase;
    color: var(--white-100);
    font-size: .8rem;
}