.flow {
    display: flex;
    flex-direction: column;
    max-height: 1em;
    /* outline: 1px solid red; */
    overflow: hidden;
    width: fit-content;
    position: relative;
    font-size: 3rem;
}
.shifter { 
    display: flex;
    flex-direction: column-reverse;
    transition: 500ms ease-in-out;
    /* overflow: hidden; */
    font-size: inherit;
}
.shifter span {
    max-height: 1em;
    font-size: inherit;
}