.c {
    padding-inline: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    margin: 0px;
}
.c p {
    font-size: 1rem;
}
.c img {
    height: 100%;
    padding: .75rem;
    margin: 0px;
    border-radius: 50%;
}