
.c {
    background-color: var(--white-800);
    color: black;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.m {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 2100px;
    padding-top: 1rem;
}
.section {
    border-radius: 8px;
    cursor: pointer;
}
.full .img {
    height: 400px !important;
}
.videoSection {
    position: relative;
    overflow: hidden;
}
.videoSection::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent, var(--secondary-100));
    opacity: 0.75;
    border-radius: 0.5rem;
}

.videoSection:hover {
    text-decoration: underline;
}
.videoSection .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 20px var(--secondary-25);
}
.videoSection .details h2 {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 500;
    background-color: var(--secondary-50);
    padding: 4px;
    border-radius: 4px;
    z-index: 8;
    width: fit-content;
}
.videoSection .details p {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 600;
    background-color: var(--secondary-900);
    border-radius: 4px;
    color: var(--secondary-25);
    padding: 4px;
    z-index: 8;
    width: fit-content;
}
.videoSection .details {
    width: 100%;
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 8;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    transition: 250ms all var(--curve-1);
}
.videoSection:hover .details {
    translate: -100%;
    transition: 500ms all var(--curve-1);
}
.priority {
    background-color: var(--secondary-25);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: .5rem;
}
.normal {
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--secondary-75);
}


.row h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.section:hover {
    text-decoration: underline;
}
.section .img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 20px var(--secondary-25);
}
.section p {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 700;
    margin: 8px 0px 0px 4px;
    margin-bottom: 4px;
}


@media only screen and (max-width: 700px) {

    .secret {

    }

}