.section {
    cursor: pointer;
}
.full .img {
    height: 400px !important;
}
.priority {
    background-color: var(--secondary-25);
    border-radius: .5rem;
}
.normal {
    border-radius: .5rem;
    background-color: var(--secondary-75);
}
.row h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.title {
    display: inline;
}
.details {
    padding: 1rem 1rem 1rem 1rem;
}
.section:hover {
    text-decoration: underline;
}
.latest {
    color: var(--primary-500);
}
.latest {
    display: inline-block;
}
.latest > * {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.3rem; /* Optional spacing between elements */
}
.section .img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 8px;
}
.section p {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 700;
    margin: 8px 0px 0px 4px;
    margin-bottom: 4px;
}