.c {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    gap: 32px;
    padding: 8px;
}
.section {
    border-radius: 8px;
    background-color: var(--secondary-50);
    cursor: pointer;
}
.full .img {
    height: 400px !important;
}
.videoSection {
    position: relative;
}

.videoSection:hover {
    text-decoration: underline;
}
.videoSection .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 20px var(--secondary-25);
}
.videoSection .details h2 {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 700;
    background-color: var(--secondary-50);
    padding: 4px;
    z-index: 8;
    width: fit-content;
}
.videoSection .details p {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 700;
    background-color: var(--secondary-900);
    color: var(--secondary-25);
    font-weight: 900;
    padding: 4px;
    z-index: 8;
    width: fit-content;
}
.videoSection .details {
    width: 100%;
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 8;
    display: flex;
    flex-direction: column;
    gap: 4px;
}




.section:hover {
    text-decoration: underline;
}
.section .img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 20px var(--secondary-25);
}
.section .img:hover {
    box-shadow: 0px 0px 50px var(--secondary-25);
}
.section p {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 700;
    margin: 8px 0px 0px 4px;
    margin-bottom: 4px;
}


@media only screen and (max-width: 700px) {

    .secret {

    }

}