.section {
    cursor: pointer;
    width: 100%;
}
.full .img {
    height: 400px !important;
}
.priority {
    background-color: var(--priority);
    color: var(--priority-foreground);
    border-radius: .5rem;
}
.normal {
    border-radius: .5rem;
    background-color: var(--normal);
}
.title {
    display: inline;
}
.details {
    padding: 0rem 1rem 0rem 1rem;
}
.section:hover {
    text-decoration: underline;
}
.latest {
    color: var(--primary-500);
}
.latest {
    display: inline-block;
}
.latest > * {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.3rem; /* Optional spacing between elements */
}
.section .img {
    width: 100%;
    height: auto;
    max-height: 50vh;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 8px;
}
.section p {
    letter-spacing: 1px;
    font-family: var(--font-domine);
    font-weight: 700;
    margin: 8px 0px 0px 4px;
    margin-bottom: 4px;
}