.c {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border: 2px solid var(--secondary-100);
    border-radius: 0.5em;
    overflow: hidden;
}
.header {
    background-color: inherit;
    padding: 0.5rem 1rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    background: var(--secondary-100);
}
.header:hover {
    background-color: var(--secondary-200);
}
.background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    z-index: 0 !important;
    opacity: 0.25;
    scale: 1.25;
    filter: blur(2px);
}
.c:hover .background {
    opacity: .5;
}
.c:hover {
    background: var(--secondary-100);
}
.row {
    z-index: 1;
}
.row > span {
    font-size: 0.8rem;
    color: var(--white-400);
}
.header img {
    height: 2em;
    width: 2em;
    z-index: 1;
}
.content {
    padding: 0.5rem;
    background-color: var(--secondary-50);
}