.c {
    background-color: var(--secondary-25);;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 3.5rem 1fr;
    box-shadow: 0px 0px 50px inset var(--secondary-25);
    max-height: 100%;
    overflow: hidden;
}
.nav {
    display: flex;
    border-bottom: 1px solid var(--secondary-75);

    grid-row-start:     1;
    grid-row-end:       2;

    grid-column-start:  2;
    grid-column-end:    3;
}
.landscape.expanded {
    grid-template-columns: 15rem 1fr;
}
.landscape.collapsed {
    grid-template-columns: 3.5rem 1fr;
}
.portrait {
    grid-template-columns: 3.5rem 1fr;
    grid-template-rows: 3.5rem 1fr;
    height: 100dvh;
    position: relative;
}
.portrait .side {
    position: fixed;
    top: 3.5rem;
    left: 0px;
    bottom: 0px;
}
.landscape .side {
    position: relative;
    inset: unset;
}
.expanded.portrait .side {
    box-shadow: 0px 0px 100px black;
}
.expanded.side, .expanded.user {
    width: 15rem;
}
.collapsed.side, .collapsed.user {
    width: 3.5rem;
}
.collapsed.side {
    width: 3.5rem;
}
.collapsed .link {
    margin: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.25rem;
}
.collapsed .link img {
    margin: 0px;
    width:  1.75rem;
    height: 1.75rem;
}
.user .toggle {
    height: 3.5rem;
    width:  3.5rem;
    margin-left: auto;
    cursor: pointer;
    opacity: 0.8;
    padding: 1rem
}
.user .toggle:hover {
    opacity: 1;
}
.user .toggle img {
    width: 100%;
    height: 100%;
}
.user {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--secondary-100);
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 105;
    height: 3.5rem;
}
.expanded.user {
    width: 15rem;
}
.user .col {
    margin-left: 1.25rem;
}
.user h3 {
    font-family: var(--font-inter);
    color: white;
    font-size: .9rem;
}
.user p {
    font-family: var(--font-inter);
    color: white;
    font-size: 0.75rem;
}
.avatar {
    width:  1.75rem;
    height: 1.75rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}
.counter {
    background-color: var(--orange-500);
    min-width: 1.75em;
    height: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    position: relative;
    left: 0px;
    font-size: 12px;
    margin-left: 1rem;
    translate: 0px 0px;
    color: white !important;
}
.c .side {
    display: flex; 
    flex-direction: column;
    color: white;
    overflow: hidden;
    border: 1px solid var(--secondary-100);
    border-top: none;
    align-items: center;
    font-size: 0.85rem;
    background-color: var(--secondary-25);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 100;
    position: fixed;
    top: 0px;
    bottom: 0px;
}
.side .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5rem;
    gap: 0.5rem;
}
.collapsed.side .links {
    padding: 0.25rem;
}
.collapsed .link {
    height: 3rem;
}
.link:first-child {
    border: none;
}
.link {
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 100ms var(--curve-1);
    user-select: none;
    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
}
.link:hover {
    background-color: var(--secondary-100);
    box-shadow: 0px 0px 50px inset var(--secondary-50);
}
.link img {
    width: 100%;
    height: 100%;
    max-width: 2rem;
    margin-right: 1rem;
}
.active img {
    filter: brightness(0) saturate(100%) invert(83%) sepia(52%) saturate(2328%) hue-rotate(2deg) brightness(104%) contrast(111%);
    scale: 1.25;
    transition: scale 50ms var(--curve-1);
}
.active {
    color: var(--primary-500);
    background-color: var(--secondary-50);
}
.child {
    overflow: auto;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    background-color: var(--secondary-50);
}


