.c {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-50);
}
.c * {
    color: white;
}
.nav {
    display: flex;
    position: fixed;
    left: 1rem;
    top:  1rem;
    z-index: 10;
}
.wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: 1;
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.background::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg var(--secondary-50), transparent);
}
.image {
    position: absolute;
    left: 50%;
    translate: -50% 0px;
    top: 0px;
    height: 100%;
    max-width: 100vw;
    width: auto;
    object-fit: contain;
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 800px;
    translate: -50% -50%;
    padding: 1rem;
    gap: 1rem;
}
.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
}
.c a {
    font-size: 1.5rem;
    margin-top: 1rem;
    background: radial-gradient(rgba(0,0,0,.1), transparent);
}